ENV="prod"
ALLOW_CROSS_ORIGIN=true
SSL=false

WEB_BARE_URL="skillbot.def-dev.in"
WEB_URL="https://skillbot.def-dev.in"
WEBSITE_NAME="skillbot"
APP_UID="skillbot"
TRIBE_API_SECRET_KEY="skillbot"
DB_PORT=3306
TRIBE_PORT=8080
DOCKER_EXTERNAL_TRIBE_URL="http://localhost:8080"

TRIBE_SLUG="tribe"

DOCKER_INTERNAL_TRIBE_URL="http://localhost:80"

DB_HOST=db
DB_ROOT_PASS=rootpassword123
DB_USER=tribe_user
DB_PASS=userpassword123
DB_NAME=tribe_db

CONTACT_NAME="xyz-domain-var"
CONTACT_EMAIL="your_server_email"

S3_BKUP_HOST_BASE="s3.wasabisys.com"
S3_BKUP_HOST_BUCKET="%(bucket)s.s3.wasabisys.com"
S3_BKUP_ACCESS_KEY=""
S3_BKUP_SECRET_KEY=""
S3_BKUP_BUCKET_NAME="xyz-domain-var"

DEFAULT_TIMEZONE="Asia/Kolkata"

S3_UPLOADS_HOST_BASE="sgp1.digitaloceanspaces.com"
S3_UPLOADS_HOST_BUCKET="%(bucket)s.sgp1.digitaloceanspaces.com"
S3_UPLOADS_ACCESS_KEY=""
S3_UPLOADS_SECRET_KEY=""
S3_UPLOADS_BUCKET_NAME=""
S3_UPLOADS_BUCKET_CDN_URL=""

ALLOWED_FILE_EXTENSIONS_IN_UPLOADS_FOLDER="zip,svg,png,jpg,jpeg,gif,pdf,doc,docx,xls,xlsx,csv,ppt,pptx,vtt,srt,mp3,mp4,m4a,wav,ogg,oga,mov,webp,webm"

MAILPACE_SERVER_TOKEN=""
MAILPACE_DOMAIN=""

CLOUDFLARE_STREAM_TOKEN=""
CLOUDFLARE_STREAM_ACCOUNT=""

PUSHER_API_KEY=""
PUSHER_API_SECRET=""
PUSHER_APP_ID=""
PUSHER_CLUSTER=""

LIVEKIT_WS_URL=""
LIVEKIT_API_KEY=""
LIVEKIT_SECRET_KEY=""
